div.cardsDiv.mt1
    div.subform.container.mt1.pb-1.pt-1.none
            div.pl-1
                h2 New Ticket Details Form
            form.add-subform(action="/techInfoSubform", method="post")
                div.form-section.gc-r1
                    div.form-group
                        label(for="ticket-number") Ticket Number
                        input.form-control.w95(type="text",name="ticketnumber" placeholder="Auto Generated" readonly) 
                        .msg.hide(id=`ticket-number-sub`)
                    div.form-group
                        input.w40(type="hidden", name="_csrf", value=csrfToken)
                        input.w40(type="hidden",name="createdAt" readonly)
                    div.form-group
                        label(for="created-By") Created By
                        input.form-control.w95(type="text",name="createdBy" placeholder="Auto Generated" readonly)
                        div.msg.hide(id=`Created-By-sub`)
                //- include      ./dashLowerForm.pug
                div.form-section.gc-r1
                    div.form-group
                        label(for="problem-catagory") Problem-Category
                        input.form-control.w95(type="text",name="problemcatagory" placeholder="Problem Catagory" list="problemList")
                        div.msg.hide(id=`problem-catagory-sub`)
                        datalist(id=`problemList-sub`)
                    div.form-group.radio#resolved-pending
                        div(style="display: block; height: 50%;")
                        input.form-control(type="radio", id=`resolved-sub`, name="ticketstatus", value="Resolved")
                        label.inline-label(for="resolved") Resolved
                        input.form-control(type="radio", id=`pending-sub`, name="ticketstatus", value="Pending" checked)
                        label.inline-label(for="pending") Pending
                //- include ./contacts.pug

                div.form-section.gc-r1
                    input(type="text",name="contactid" placeholder="Contact ID" hidden)
                    div.form-group
                        label(for="contact-name") Contact Name
                        input.form-control.w95(type="text",name="contactname" placeholder="Contact Name")
                        div.msg.hide(id=`contact-name-sub`)
                    div.form-group
                        div.inline-label.w30 
                            label(for="contact-cc") CC
                            select.w100.form-control(type="text", id= `contact-cc-sub`, name="contactcc" placeholder="CC" )
                                option(value= "+1") United States: +1 
                                each val, index  in countryCodes
                                    option(value= val.Dial) #{index}: #{val.Dial} 
                        div.inline-label.w60(style="margin-left: 10px;")   
                            label(for="contact-phone") Phone
                            input.w100.form-control(type="text", name="contactphone" placeholder="Contact Phone Number")
                            //- div.msg.hide#contact-phone
                    div.form-group
                        label(for="email") Email
                        input.form-control.w95(type="text", name="email" placeholder="Email")
                        div.msg.hide(id=`contact-email-sub`)
                    div.form-group
                        label(for="address") Address
                        input.form-control.w95(type="text", name="address" placeholder="Address")
                        .msg.hide(id=`contact-address-sub`)
                    div.form-group
                        label(for="city") City
                        input.form-control.w95(type="text", name="city" placeholder="City")
                        div.msg.hide(id=`contact-city-sub`)
                    div.form-group
                        label(for="state") State
                        input.form-control.w95(type="text", name="state" placeholder="State")
                        div.msg.hide(id=`contact-state-sub`)
                    div.form-group
                        label(for="country") Country
                        select.w95.form-control(type="text", name="country" placeholder="Country" )
                                option(value= countryCodes['United States'].Iso2) #{countryCodes['United States'].Iso2}: United States #{countryCodes['United States'].Unicode}
                                each val, index  in countryCodes
                                    option(value= val.Iso2) #{val.Iso2}: #{index} #{val.Unicode}
                        .msg.hide(id=`contact-country-sub`)
                    div.form-group
                        label(for="zip") Zip Code
                        input.form-control.w95(type="text", name="zip" placeholder="Zip Code")
                        .msg.hide(id=`contact-zipl-sub`)
                    div.form-group
                        button.btn-standard.mr1(id=`find-contact-sub`) Add Contact
                        button.btn-standard(id=`search-contact-sub`) Find Contact



                div.form-section.gc-r1
                    div.form-group.part-input.gc-3#missing-needed
                        label.in-line.w10(for="parts-needed" styles="padding-right: 1rem;") Parts
                        .search.inline-label(id=`pn-sub`)
                            
                            include ../images/magnifingGlass.svg
                            span.w100.mr1 Search (Click to add parts)
                        ul
                            li(id=`part-li0-sub`)
                                div.gc-3(id=`parts-div0-sub` style="display: none")
                                    input.form-control.w50(type="text" name=`parts[0][part]` placeholder="")
                                    input(type="radio" name=`parts[0][status]` value="Missing")
                                    label(class="inline-label" for="missing-0") Missing
                                    input(type="radio" name=`parts[0][status]` value="Needed" checked)
                                    label(class="inline-label" for="needed-0") Needed
                                    button(class="btn" ) Remove
                div.form-section
                    div.form-group.gc-3
                        label(for="resolution") Resolution
                        textarea.form-control(rows="10" type="text",name="resolution" placeholder="" style="width: 100%; max-width: 100%; height: 100px; max-height: 100px; resize: none; overflow-y: scroll")
                        div.msg.hide(id=`resolution-sub`)
                div.form-section
                    div.form-group.gc-3
                        label(for="notes" ) Notes
                        textarea.form-control(type="text",name="notes" placeholder="Notes" style="width: 100%; max-width: 100%; height: 100px; max-height: 100px; resize: none; overflow-y: scroll")
                        div.msg.hide(id=`notes-sub`)
                div.form-section.gc-r1 
                        div.form-group
                            div(class="text-right") 
                                button.btn.btn-standard(type="submit" value="Submit") Submit
    div.edit-header.none
        div.container.mt1.pb-1.pt-1
            div
                div.w80.pl-1(style="display: inline-block;")
                    h2 Edit Header Form
                div.w15(style="display: inline-block;")
                    .btn-div
                        button.btn.btn-standard#btn-close-editheader(value="X") X
            div.edit-header-form-wrapper
                form.header-form(action="/editHeader" method="post")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    input(type="hidden" name="_id")
                    div.form-section.gc-r1 
                        div.form-group
                            label(for="ticket-number") Ticket Number
                            input.form-control.w95(type="text",name="ticketnumber" placeholder="Auto Generated" readonly)
                        div.form-group
                            label(for="createdAt") Timestamp
                            input.form-control.w95(type="text",name="createdAt" placeholder="Auto Generated" readonly)
                        div.form-group
                            label(for="createdBy") Created By
                            input.form-control.w95(type="text",name="createdBy" placeholder="Auto Generated" readonly)
                    div.form-section.gc-r1 
                        div.form-group
                            label(for="job-number") Job Number
                            input.form-control.w95(type="text",name="jobnumber" placeholder="Job Number" required)
                        div.form-group
                            label(for="machinetype") Machine Type
                            input.form-control.w95(type="text",name="machinetype" placeholder="Machine Type" list="machineList" required)
                            datalist#machineList
                        div.form-group
                            label(for="totalwashes") Total Washes
                            input.form-control.w95(type="text",name="totalwashes" placeholder="Total Washes")
                    div.form-section.gc-r1 
                        div.form-group
                            div(class="text-right") 
                                button.btn.btn-standard(type="submit" value="Submit") Submit
                                
    div.edit-details.none
        div.container.mt1.pb-1.pt-1
            div
                div.w80.pl-1(style="display: inline-block;")
                    h2 Edit Details Form
                div.w15(style="display: inline-block;")
                    .btn-div
                        button.btn.btn-standard#btn-close-editdetails(value="X") X
            div.edit-details-form-wrapper
                form.details-form(action="/editDetails" method="post")
                    input(type="hidden", name="_csrf", value= csrfToken)
                    input(type="hidden" name="_id")
                    input(type="hidden" name="ticketnumber")
                    div.form-section.gc-r1
                        div.form-group
                            label(for="problem-catagory") Problem-Category
                            input.form-control.w95(type="text",name="problemcatagory" placeholder="Problem Catagory" list="problemList")
                            datalist#problemList-edit
                        div.form-group.radio#resolved-pending
                            div(style="display: block; height: 50%;")
                            input.form-control(type="radio", id="resolved-edit", name="ticketstatus", value="Resolved")
                            label.inline-label(for="resolved") Resolved
                            input.form-control(type="radio", id="pending-edit", name="ticketstatus", value="Pending" checked)
                            label.inline-label(for="pending") Pending
                        div.form-group
                            label(for="createdBy") Created By
                            input.form-control.w95(type="text",name="createdBy" placeholder="Auto Generated" readonly)

                    div.form-section.gc-r1
                        input(type="text",name="contactid" placeholder="Contact ID" hidden)
                        div.form-group
                            label(for="contact-name") Contact Name
                            input.form-control.w95(type="text",name="contactname" placeholder="Contact Name")
                        div.form-group
                            div.inline-label.w30 
                                label(for="contact-cc") CC
                                select.w100.form-control(type="text", id= "contact-cc-edit", name="contactcc" placeholder="CC" )
                                    option(value= "+1") United States: +1 
                                    each val, index  in countryCodes
                                        option(value= val.Dial) #{index}: #{val.Dial} 
                            div.inline-label.w60(style="margin-left: 10px;")   
                                label(for="contact-phone") Phone
                                input.w100.form-control(type="text", name="contactphone" placeholder="Contact Phone Number")
                        div.form-group
                            label(for="email") Email
                            input.form-control.w95(type="text", name="email" placeholder="Email")
                        div.form-group
                            label(for="address") Address
                            input.form-control.w95(type="text", name="address" placeholder="Address")
                            .msg.hide#contact-address
                        div.form-group
                            label(for="city") City
                            input.form-control.w95(type="text", name="city" placeholder="City")
                        div.form-group
                            label(for="state") State
                            input.form-control.w95(type="text", name="state" placeholder="State")
                        div.form-group
                            label(for="country") Country
                            select.w95.form-control(type="text", name="country" placeholder="Country" )
                                    option(value= countryCodes['United States'].Iso2) #{countryCodes['United States'].Iso2}: United States #{countryCodes['United States'].Unicode}
                                    each val, index  in countryCodes
                                        option(value= val.Iso2) #{val.Iso2}: #{index} #{val.Unicode}
                        div.form-group
                            label(for="zip") Zip Code
                            input.form-control.w95(type="text", name="zip" placeholder="Zip Code")
                        div.form-group
                            button.btn-standard.mr1#find-contact-edit Add Contact
                            button.btn-standard#search-contact-edit Find Contact
                    div.form-section.gc-r1
                        div.form-group.part-input.gc-3#missing-needed-edit
                            label.in-line.w10(for="parts-needed" styles="padding-right: 1rem;") Parts
                            .search.inline-label#pn
                                
                                include ../images/magnifingGlass.svg
                                span.w100.mr1 Search (Click to add parts)
                            ul
                                //- li#part-li0
                                //-     div.gc3#parts-div0(style="display: none")
                                //-         input.form-control.w50#inputParts-00(type="text" name="parts[0][part]" placeholder="")
                                //-         input(type="radio" id="missing-00" name="parts[0][status]" value="Missing")
                                //-         label(class="inline-label" for="missing-00") Missing
                                //-         input(type="radio" id="needed-00" name="parts[0][status]" value="Needed" checked)
                                //-         label(class="inline-label" for="needed-00") Needed
                                //-         button(class="btn" id="remove-btn00") Remove
                    div.form-section
                        div.form-group.gc-3
                            label(for="resolution") Resolution
                            textarea.form-control(rows="10" type="text",name="resolution" placeholder="" style="width: 100%; max-width: 100%; height: 100px; max-height: 100px; resize: none; overflow-y: scroll")
                    div.form-section
                        div.form-group.gc-3
                            label(for="notes" ) Notes
                            textarea.form-control(type="text",name="notes" placeholder="Notes" style="width: 100%; max-width: 100%; height: 100px; max-height: 100px; resize: none; overflow-y: scroll")
                    div.form-section.gc-r1 
                        div.form-group
                            div(class="text-right") 
                                button.btn.btn-standard(type="submit" value="Submit") Submit        
    each doc, idx in techInfo
        div.card-div.container.mt1.pb-1
            div.cards.pt-1.pb-1 
                
                div.card-section.form-section.gc-r1(id=`card-head`)
                    div
                        h2 Header section
                    div
                    div
                    
                    div.none.fld(id=`ident${idx}` data-key=`_id: ${doc._id}`) #{doc._id}
                    div
                        label Ticket Number:
                        div.fld(id=`tick${idx}` data-key=`ticketnumber: ${doc.ticketnumber}`) #{doc.ticketnumber}
                    div
                        label Created Date:
                        div.fld(id=`ts${idx}` data-key=`createdAt: ${doc.createdAt}`) #{doc.createdAt}
                    div
                        label Created By: #{doc.username}
                        div.fld(id=`owner${idx}` data-key=`createdBy: ${doc.createdBy}`) #{doc.createdBy}
                    div
                        label Job Number:
                        div.w100.fld.mt1(id=`jn${idx}` data-key=`jobnumber: ${doc.jobnumber}`) #{doc.jobnumber}
                    div
                        label Machine Type:
                        div.fld.mt1(id=`mt${idx}` data-key=`machinetype: ${doc.machinetype}`) #{doc.machinetype}
                    div
                        label Total Washes:
                        div.fld.mt1(id=`tw${idx}` data-key=`totalwashes: ${doc.totalwashes}`) #{doc.totalwashes}
                    div
                        div
                            button.btn.btn-standard.btn-edit-header Edit Header
                        div.clickmessage
                each item in techInfoSub
                    if item.ticketnumber === doc.ticketnumber
                        .form-section.detail-section
                            h2 Detail Section
                            div.card-section.gc-r1
                                
                                //- div.none#subident(data-key=`_id: ${item._id}`) #{item._id}
                                div.fld.none(id=`subident${idx}` data-key=`_id: ${item._id}`) #{item._id}
                                div.fld.none(id=`ticketNumber${idx}` data-key=`ticketnumber: ${item.ticketnumber}`) #{item.ticketnumber}
                                div
                                    label Problem Category:
                                    div.fld(id=`probcat${idx}` data-key=`problemcatagory: ${item.problemcatagory}`) #{item.problemcatagory}
                                div
                                    label Status:
                                    div.fld(id=`stat${idx}` data-key=`ticketstatus: ${item.ticketstatus}`) #{item.ticketstatus}
                                div
                                    label CreatedBy: #{item.username}
                                    div.fld(id=`created${idx}` data-key=`createdBy: ${item.createdBy}`) #{item.createdBy}
                                    
                                div
                                    label Contact Name: 
                                    div.fld(id=`cn${idx}` data-key=`contactname: ${item.contactname}`) #{item.contactname}
                                div
                                    label Phone:
                                    div.fld.inline-label.w10(id=`cntryCode${idx}` data-key=`contactcc: ${item.contactcc}`) #{item.contactcc}
                                    div.fld.inline-label.w70(id=`tel${idx}` data-key=`contactphone: ${item.contactphone}`) #{item.contactphone}
                                div
                                    label Email:
                                    div.fld(id=`em${idx}` data-key=`email: ${item.email}`) #{item.email}
                                div
                                    label Address:
                                    div.fld(id=`addr${idx}` data-key=`address: ${item.address}`) #{item.address}
                                div
                                    label City:
                                    div.fld(id=`cty${idx}` data-key=`city: ${item.city}`) #{item.city}
                                div
                                    label State:
                                    div.fld(id=`st${idx}` data-key=`state: ${item.state}`) #{item.state}
                                div
                                    label Country:
                                    div.fld(id=`cntry${idx}` data-key=`country: ${item.country}`) #{item.country}
                                div
                                    label Zip:
                                    div.fld(id=`zp${idx}` data-key=`zip: ${item.zip}`) #{item.zip}
                                div
                            div.card-section.gc-r3
                                div.w100 Parts:
                                if part
                                    each part in item.parts
                                        if part.part !== ""
                                            div.w100(style="margin-top: .5rem;")
                                                div.fld.inline-label.w70#prts(data-key=`part: ${part.part}`) #{part.part}
                                                div.fld.inline-label.w20#stat(data-key=`status: ${part.status}`) #{part.status}
                            div.card-section.gc-r3 
                                div Resolution:
                                div.fld(id=`sol${idx}` data-key=`resolution: ${item.resolution}`) #{item.resolution}
                            div.card-section.gc-r3
                                div Notes:
                                div.fld(id=`xnote${idx}` data-key=`notes: ${item.notes}`) #{item.notes}
                            div.card-section.gc-r3.mt1
                                button.btn.btn-standard.btn-edit-details Edit Details
                            div.clickmessage
            button.btn.btn-standard.addForm(style="margin-left: 2rem; margin-bottom: 1rem;") Add New Details Form
            
                        

            