//- div.form-section.gc-r1
//-     div.form-group.radio#resolved-pending
//-         input.form-control(type="radio", id="resolved", name="statusRadioBtn", value="Resolved")
//-         label.inline-label(for="resolved") Resolved
//-         input.form-control(type="radio", id="pending", name="statusRadioBtn", value="Pending" checked)
//-         label.inline-label(for="pending") Pending
//- div.form-section.gc-r1 
//-     div.form-group
//-         label(for="contact-name") Contact Name
//-         input.form-control.w95(type="text",name="contactname" placeholder="Created Name")
//-         div.msg.hide#contact-name
//-     div.form-group
//-         div.inline-label.w30 
//-             label(for="contact-cc") CC
//-             select.w100.form-control(type="text", id= "contact-cc", name="contactcc" placeholder="CC" )
//-                 option(value= "+1") United States: +1 
//-                 each val, index  in countryCodes
//-                     option(value= val.Dial) #{index}: #{val.Dial} 
//-         div.inline-label.w60(style="margin-left: 10px;")   
//-             label(for="contact-phone") Phone
//-             input.w100.form-control(type="text", name="contactphone" placeholder="Contact Phone Number")
//-             //- div.msg.hide#contact-phone
//-     div.form-group
//-         label(for="email") Email
//-         input.form-control.w95(type="text", name="email" placeholder="Email")
//-         div.msg.hide#contact-email
//-     div.form-group
//-         label(for="address") Address
//-         input.form-control.w95(type="text", name="address" placeholder="Address")
//-         .msg.hide#contact-address
//-     div.form-group
//-         label(for="city") City
//-         input.form-control.w95(type="text", name="city" placeholder="City")
//-         div.msg.hide#contact-city
//-     div.form-group
//-         label(for="state") State
//-         input.form-control.w95(type="text", name="state" placeholder="State")
//-         div.msg.hide#contact-state
//-     div.form-group
//-         label(for="country") Country
//-         select.w95.form-control(type="text", name="country" placeholder="Country" )
//-                 option(value= countryCodes['United States'].Iso2) #{countryCodes['United States'].Iso2}: United States #{countryCodes['United States'].Unicode}
//-                 each val, index  in countryCodes
//-                     option(value= val.Iso2) #{val.Iso2}: #{index} #{val.Unicode}
//-         .msg.hide#contact-country
//-     div.form-group
//-         label(for="zip") Zip Code
//-         input.form-control.w95(type="text", name="zip" placeholder="Zip Code")
//-         .msg.hide#contact-zip
//-     div.form-group
//-         button.btn-standard.mr1#find-contact Add Contact
//-         button.btn-standard#search-contact Find Contact
div.form-section.gc-r1
    div.form-group
        label(for="problem-catagory") Problem-Catagory
        input.form-control.w95(type="text",name="problemcatagory" placeholder="Problem Catagory" list="problemList")
        div.msg.hide#problem-catagory
        datalist#problemList
    div.form-group.radio#resolved-pending
        div(style="display: block; height: 50%;")
        input.form-control(type="radio", id="resolved", name="ticketstatus", value="Resolved")
        label.inline-label(for="resolved") Resolved
        input.form-control(type="radio", id="pending", name="ticketstatus", value="Pending" checked)
        label.inline-label(for="pending") Pending
include ./contacts.pug
div.form-section.gc-r1
    div.form-group.part-input.gc-3#missing-needed
        label.in-line.w10(for="parts-needed" styles="padding-right: 1rem;") Parts
        .search.inline-lable#pn
            
            include ../images/magnifingGlass.svg
            span.w100.mr1 Search (Click to add parts)
        ul
            li#part-li0
                div.gc3#parts-div0(style="display: none")
                    input.form-control.w50#inputParts-0(type="text" name="parts[0][part]" placeholder="")
                    input(type="radio" id="missing-0" name="parts[0][status]" value="Missing")
                    label(class="inline-label" for="missing-0") Missing
                    input(type="radio" id="needed-0" name="parts[0][status]" value="Needed" checked)
                    label(class="inline-label" for="needed-0") Needed
                    button(class="btn" id="remove-btn0") Remove
div.form-section
    div.form-group.gc-3
        label(for="resolution") Resolution
        textarea.form-control(rows="10" type="text",name="resolution" placeholder="" style="width: 100%; max-width: 100%; height: 100px; max-height: 100px; resize: none; overflow-y: scroll")
        div.msg.hide#resolution
div.form-section
    div.form-group.gc-3
        label(for="notes" ) Notes
        textarea.form-control(type="text",name="notes" placeholder="Notes" style="width: 100%; max-width: 100%; height: 100px; max-height: 100px; resize: none; overflow-y: scroll")
        div.msg.hide#notes