extends layout

block content
    .main
        section.teleform
            div.container.main-form
                div.form1-header(style="margin-top: 1rem")
                    div
                        h2(style="padding-left: 1rem") Technical Support Entry Form
                    div
                        //- if user
                            //- H5(style="display: inline; float: right;") Welcome back, #{`${user.firstname} ${user.lastname}`}
                    div(style="display: inline-block; position: relative; ")
                        button.btn-standard.open-hidden(style="position: absolute; top: 50%; transform: translateY(-50%); left: 50%;") New Entry
                if error 
                    div(class="alert alert-danger" role='alert') #{error}
                div.form-wrapper
                    form.entry-form(action="/dashboard" method="post")
                        input(type="hidden", name="_csrf", value=csrfToken)
                        div.form-section.gc-r1 
                            div.form-group
                                label(for="ticket-number") Ticket Number
                                input.form-control.w95(type="text",name="ticketnumber" placeholder="Auto Generated" readonly)
                                .msg.hide#ticket-number
                            div.form-group
                                label(for="Created-At") Timestamp
                                input.form-control.w95(type="text",name="CreatedAt" placeholder="Auto Generated" readonly)
                                div.msg.hide#Created-At
                            div.form-group
                                label(for="Created-By") Created By
                                input.form-control.w95(type="text",name="CreatedBy" placeholder="Auto Generated" readonly)
                                div.msg.hide#Created-By
                        div.form-section.gc-r1 
                            div.form-group
                                label(for="job-number") Job Number
                                input.form-control.w95(type="text",name="jobnumber" placeholder="Job Number" required)
                                div.msg.hide#job-number
                            div.form-group
                                label(for="machine-type") Machine Type
                                input.form-control.w95(type="text",name="machinetype" placeholder="Machine Type" list="machineList" required)
                                div.msg.hide#machine-type
                                datalist#machineList
                            div.form-group
                                label(for="total-washes") Total Washes
                                input.form-control.w95(type="text",name="totalwashes" placeholder="Total Washes")
                                div.msg.hide#total-washes
                        div.form-section.gc-r1 
                            div.form-group
                                label(for="contact-name") Contact Name
                                input.form-control.w95(type="text",name="contactname" placeholder="Created Name")
                                div.msg.hide#contact-name
                            div.form-group
                                label(for="contact-phone") Contact phone
                                input.form-control.w95(type="text", name="contactphone" placeholder="Contact Phone Number")
                                div.msg.hide#contact-phone

                        include ./includes/dashLowerForm.pug

                        div.form-section.gc-r1 
                            div.form-group
                                div(class="text-right") 
                                    button.btn.btn-standard(type="submit" value="Submit") Submit
            include ./includes/searchModal
        section.grid
